.category {
    width: 100%;
    a {
        color: #000;
        font-size: var(--font-size-title);
        &:hover {
            color: rgb(95, 94, 94);
        }
    }
    span {
        font-size: var(--font-size-smail);
        font-family: serif;
    }

    &Block {
        // border-right: solid 1px #000;
        padding: 0 30px;
        height: 90%;
    }
    &Block:nth-child(2) {
        text-align: center;
    }

    &Block:nth-child(3) {
        border: none;
    }

    &Select {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 4px 0px;
        grid-template-areas: '. . .';
        height: 100%;
    }

    &Title {
        font-size: var(--font-size-title);
    }

    &Products {
        display: flex;
        margin-top: 10px;
        &Title {
            font-size: 18px;
        }

        &Description {
            font-size: 12px;
            margin-top: 5px;
        }

        &Images {
            img {
                border-radius: 10px;
            }
        }
        &Price {
            font-family: 'Great Vibes';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            display: flex;
            align-items: flex-end;
            margin-right: 10px;
        }
        &Wishlist {
            cursor: pointer;
            z-index: 100;
        }
        &Other {
            display: flex;
            margin-left: 10px;
            flex-direction: column;
        }
    }

    &Items {
    }

    &Item {
        font-size: 18px;
        span {
            margin-left: 5px;
        }
    }

    &Box {
        cursor: pointer;
        display: flex;
        align-items: center;
        margin-top: 10px;
        width: 100%;
        &:last-child {
            border: none;
        }
        &:hover {
            background-color: rgb(209, 209, 209);
        }
        p {
            width: 90%;
            font-size: var(--font-size-text);
        }
        span {
            margin-top: 5px;
        }
    }
}
