@import '../../styles/vars';
.category {
    width: 100%;
    font-family: Montserrat;
    a {
        color: #000;
        text-align: center;
        font-size: var(--font-size-title);
        &:hover {
            color: rgb(95, 94, 94);
        }
    }
    span {
        font-size: var(--font-size-smail);
        font-family: serif;
    }
    &CenterContent {
        border-right: 1px solid #000;
        display: flex;
        justify-content: center;
    }

    &Title {
        text-align: center;
        margin-top: 20px;
    }

    &Block {
        // border-right: solid 1px #000;
        padding: 0 30px;
        height: 90%;
    }
    &Block:nth-child(2) {
        text-align: center;
    }

    &Block:nth-child(3) {
        border: none;
    }

    &Products {
        &:hover {
            opacity: 0.8;
        }
        display: flex;
        margin-top: 20px;
        @media (max-width: $breakpoint480) {
            margin-top: 15px;
        }
        &Title {
            font-size: var(--font-size-title);
            color: #000;
            @media (max-width: $breakpoint480) {
                font-size: $maxsmail;
                font-weight: 500;
            }
        }

        &Description {
            margin-top: 5px;
            font-size: var(--font-size-smail);
            color: rgb(77, 77, 77);
            @media (max-width: $breakpoint480) {
                font-size: $maxsmail;
            }
        }

        &Images {
            max-width: 130px;
            width: 100%;
            height: 130px;
            position: relative;
            img {
                object-fit: contain;
                border-radius: 10px;
            }
            @media (max-width: $breakpoint480) {
                position: relative;
                max-width: 80px;
                width: 100%;
                height: 80px;
                img {
                    object-fit: contain;
                    border-radius: 5px;
                }
            }
        }
        &Price {
            font-family: $font-secondary;
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            display: flex;
            align-items: flex-end;
            @media (max-width: $breakpoint480) {
                font-size: $text;
            }
        }

        &Other {
            display: flex;
            margin-left: 15px;

            flex-direction: column;
            @media (max-width: $breakpoint480) {
                margin-left: 5px;
            }
        }
    }

    &Items {
    }

    &Item {
        font-size: var(--font-size-link);

        span {
            margin-left: 5px;
        }
    }

    &Box {
        cursor: pointer;
        display: flex;
        align-items: center;
        margin-top: 10px;
        width: 100%;
        &:last-child {
            border: none;
        }
        &:hover {
            background-color: rgb(209, 209, 209);
        }
        p {
            width: 90%;
            font-size: var(--font-size-text);
        }
        span {
            margin-top: 5px;
        }
    }
}
.tablet {
    font-family: Montserrat;
    font-weight: 200;
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    a {
        color: #000;
        text-align: left;
        font-size: var(--font-size-title);
        &:hover {
            color: rgb(95, 94, 94);
        }
    }
    span {
        font-size: var(--font-size-smail);
    }
    &LeftContent {
        a {
            text-align: center;
        }
        width: 40%;
        border-right: 1px solid #000;
        height: 93%;
    }
    &RightContent {
        width: 60%;
    }
    &Title {
        text-align: center;
    }

    &Block {
        // border-right: solid 1px #000;

        height: 90%;
    }

    &Products {
        &:hover {
            opacity: 0.8;
        }
        display: flex;

        &Title {
            font-size: var(--font-size-title);
            color: #000;
        }

        &Description {
            margin-top: 5px;
            font-size: var(--font-size-smail);
            color: rgb(77, 77, 77);
        }

        &Images {
            max-width: 130px;
            width: 100%;
            height: 130px;
            position: relative;
            img {
                object-fit: contain;
                border-radius: 10px;
            }
        }
        &Price {
            font-family: $font-secondary;
            font-style: normal;
            font-weight: 200;
            font-size: 32px;
            display: flex;
            align-items: flex-end;
        }

        &Other {
            display: flex;
            margin-left: 15px;
            flex-direction: column;
        }
    }

    &Items {
    }

    &Item {
        font-size: var(--font-size-link);

        span {
            margin-left: 5px;
        }
    }

    &Box {
        cursor: pointer;
        display: flex;
        align-items: center;
        margin-top: 10px;
        width: 100%;
        &:last-child {
            border: none;
        }
        &:hover {
            background-color: rgb(209, 209, 209);
        }
        p {
            width: 90%;
            font-size: var(--font-size-text);
        }
        span {
            margin-top: 5px;
        }
    }

    &Back {
        margin: 0;
        padding: 0;
        p {
            padding: 0;
            margin: 0;
        }
    }
}

.mobile {
    margin: 0;

    width: 100%;
    @media (max-width: $breakpoint480) {
        font-size: $maxsmail;
    }
    &Content {
    }
    &Category {
        margin: 0 auto;
        text-align: center;
    }
    a {
        color: #000;
    }
    &Link {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &Back {
    }
}

.selectMenu {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;
    font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
    font-size: 18px;
    color: #60666d;

    @media (min-width: 768px) {
        width: 70%;
    }

    @media (min-width: 992px) {
        width: 50%;
    }

    @media (min-width: 1200px) {
        width: 30%;
    }

    &Current {
        position: relative;
        box-shadow: 0 15px 30px -10px transparentize(#000, 0.9);
        cursor: pointer;
        outline: none;

        &:focus {
            & + &List {
                opacity: 1;

                // We have to set "animation-name: none;" to make the list visible (read below how it works)

                animation-name: none;

                &Option {
                    cursor: pointer;
                }
            }

            &Icon {
                transform: translateY(-50%) rotate(180deg);
            }
        }
    }

    &Icon {
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        width: 20px;
        opacity: 0.3;
        transition: 0.2s ease;
    }

    &Value {
        display: flex;
    }

    &Input {
        display: none;

        &:checked + .select-box__input-text {
            display: block;
        }
    }

    &InputText {
        display: none;
        width: 100%;
        margin: 0;
        padding: 15px;
        background-color: #fff;
    }

    &List {
        position: absolute;
        width: 100%;
        padding: 0;
        list-style: none;
        opacity: 0;

        // We need to use animation with delay.
        // Otherwise the click event will not have time to run on label, because this element disapears immediately when .select-box__current element loses the focus.
        // This delay will not be noticed because we set "opacity" to "0".
        // We also use "animation-fill-mode: forwards" to make the list stay hidden.

        animation-name: HideList;
        animation-duration: 0.5s;
        animation-delay: 0.5s;
        animation-fill-mode: forwards;
        animation-timing-function: step-start;
        box-shadow: 0 15px 30px -10px transparentize(#000, 0.9);
    }

    &Option {
        display: block;
        padding: 15px;
        background-color: #fff;

        &:hover,
        &:focus {
            color: #546c84;
            background-color: #fbfbfb;
        }
    }
}

@keyframes HideList {
    from {
        transform: scaleY(1);
    }
    to {
        transform: scaleY(0);
    }
}
