@import '../../../Category/Category.module.scss';
@import '../../../../styles/vars';
.nav {
    font-family: Montserrat;
    width: 100%;
    display: grid;
    grid-template-columns: 0.8fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 4px 0px;
    grid-template-areas: 'left center right';
    height: 90%;
    @media (max-width: $breakpoint992) {
        grid-template-areas: 'left right';
        grid-template-columns: 0.8fr 1fr;
    }
    @media (max-width: $breakpoint768) {
        grid-template-areas: 'left';
        grid-template-columns: 1fr;
    }
    a {
        color: $link-menu;
        display: flex;
        align-items: center;

        &:hover {
            color: $link-hover-bg;
        }
    }
    &Link {
        display: flex;
        align-items: center;
        p {
            width: 90%;
        }
        span {
            margin-top: 3px;
        }
    }

    &CenterContent {
        grid-area: 'center';
        border-right: 1px solid #000;
        text-align: center;
        @media (max-width: $breakpoint992) {
            display: none;
        }
    }
    &RightContent {
        grid-area: 'right';
    }
    &LeftContent {
        grid-area: 'left';
        display: block;
        border-right: 1px solid #000;
        @media (max-width: $breakpoint768) {
            border: none;
        }
    }

    &Image {
        height: 100%;
        margin: 0 auto;
        position: relative;
        width: 95%;
        img {
            object-fit: contain;
            height: 100%;
        }
        @media (max-width: $breakpoint1536) {
            img {
                max-width: 1500px;
                width: 100%;
            }
        }
    }

    &Section {
    }
    &Title {
        font-size: $maxsmail;
        font-weight: 200;
    }
    &DropSection {
        margin-top: 10px;
        margin-left: 30px;
        @media (max-width: $breakpoint1366) {
            margin-left: 20px;
        }
        @media (max-width: $breakpoint768) {
            text-align: center;
        }
    }

    &Links {
        cursor: pointer;
        font-size: var(--font-size-link);
    }
}
