@import '../../../Category/Category.module.scss';
@import '../../../../styles/vars';

.nav {
    width: 100%;
    display: grid;
    grid-template-columns: 0.8fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 3rem;
    font-weight: 200;
    grid-template-areas: 'left center right';
    height: 90%;
    font-size: $title;
    font-family: $font-main;
    a {
        color: $link-menu;
        display: flex;
        align-items: center;

        &:hover {
            color: $link-hover-bg;
        }
    }

    &CenterContent {
        grid-area: 'center';
        border-right: 1px solid #000;
        text-align: center;
        @media (max-width: $breakpoint992) {
            display: none;
        }
    }
    &RightContent {
        grid-area: 'right';
    }
    &LeftContent {
        grid-area: 'left';
        display: block;
        border-right: 1px solid #000;
        @media (max-width: $breakpoint768) {
            border: none;
        }
    }

    &Image {
        height: 100%;
        margin: 0 auto;
        position: relative;
        width: 95%;
        img {
            object-fit: contain;
            height: 100%;
        }
        @media (max-width: $breakpoint1536) {
            img {
                max-width: 1500px;
                width: 100%;
            }
        }
    }

    &Title {
        font-size: $maxsmail;
        font-weight: 500;
        font-family: $font-main;
    }
    &DropSection {
        margin-top: 10px;
        margin-left: 30px;
        @media (max-width: $breakpoint1366) {
            margin-left: 20px;
        }
        @media (max-width: $breakpoint768) {
            text-align: center;
        }
    }

    &Links {
        cursor: pointer;
        font-size: var(--font-size-link);
        display: flex;
        font-size: $smail;
        align-items: center;
        p {
            width: 90%;
        }
        span {
            margin-top: 3px;
        }
    }
}

.tabletNav {
    width: 100%;
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'left right';
    height: 90%;
    a {
        color: $link-menu;
        display: flex;
        align-items: center;
        font-weight: 200;
        &:hover {
            color: $link-hover-bg;
        }
    }
    &Title {
        font-size: 16px;
        font-weight: 200;
    }
    &Link {
        margin-left: 20px;
        display: flex;
        align-items: center;
        p {
            width: 90%;
            color: $link-menu;
            display: flex;
            align-items: center;
            font-weight: 200;
            &:hover {
                color: $link-hover-bg;
            }
        }
        span {
            margin-top: 3px;
        }
    }
    &RightContent {
        grid-area: 'right';
    }
    &LeftContent {
        grid-area: 'left';
        display: block;
        border-right: 1px solid #000;
        @media (max-width: $breakpoint768) {
            border: none;
        }
    }

    &Image {
        height: 100%;
        margin: 0 auto;
        position: relative;
        width: 95%;
        img {
            object-fit: contain;
            height: 100%;
        }
        @media (max-width: $breakpoint1536) {
            img {
                max-width: 1500px;
                width: 100%;
            }
        }
    }
    &Link {
        display: flex;
        cursor: pointer;
    }
}

.mobileNav {
    font-weight: 200;
    margin: 0 auto;
    text-align: center;
    color: #000;
    padding-left: 10px;
    width: 100%;
    a {
        color: #000;
    }
    &Content {
    }
    &Section {
    }
    &Title {
        font-weight: 300;
        font-size: $smail;
    }

    &Links {
        cursor: pointer;
    }
    &Link {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
