@import '../../../styles/vars';

.product {
    cursor: pointer;
    color: $textColor;
    &ImageBlock {
        position: relative;
        overflow: hidden;
        .MainImage {
            z-index: 1;
        }
        .SecondImage {
            opacity: 0;
        }
        &:hover {
            .SecondImage {
                z-index: 2;
                opacity: 1;
            }
        }
        @media (max-width: $breakpoint768) {
            padding-top: 20px;
        }
    }
    &ImageHeart {
        position: absolute;
        top: 5px;
        right: 5px;
        z-index: 999999;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background: #fff;
        }
    }

    &Images {
        position: relative;
        height: 400px;
        max-width: 600px;
        width: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
        }
        @media (max-width: $breakpoint1536) {
            height: 300px;
            max-width: 350px;
        }
        @media (max-width: $breakpoint1366) {
            max-width: 300px;
            height: 250px;
        }
        @media (max-width: $breakpoint992) {
            max-width: 220px;
            height: 190px;
        }
        @media (max-width: $breakpoint768) {
            max-width: 100%;
            position: relative;
            padding-bottom: 76.25%; /* 16:9 ratio */
            height: auto;
            overflow: hidden;
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
    &Box {
        width: 100%;
        display: block;
        margin-top: 10px;
        @media (max-width: $breakpoint1366) {
            margin-top: 5px;
        }
        @media (max-width: $breakpoint768) {
            margin: 0 auto;
            margin-top: 5px;
        }
    }
    &LeftBox {
    }
    &Title {
        font-weight: 400;
        font-size: $smail;

        @media (max-width: $breakpoint1366) {
            font-size: $maxsmail;
        }
        @media (max-width: $breakpoint992) {
            font-size: $maxsmail;
        }
        @media (max-width: $breakpoint768) {
            font-size: $smail;
            font-weight: 300;
        }
    }
    .RightBox {
        width: 100%;
    }
    &Price {
        font-family: $font-secondary;
        font-style: normal;
        font-weight: 400;
        font-size: $title;
        @media (max-width: $breakpoint1366) {
            font-size: $smail;
        }
        @media (max-width: $breakpoint768) {
            font-size: $text;
        }
        @media (max-width: $breakpoint480) {
            font-size: $maxsmail;
        }
    }
}
