


$primary: #0077ff;
$dark: #000;

*::after,
*::before {
    box-sizing: border-box;
}

:root {
    font-size: 17px;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #4f4f4f;
}

body {
    height: 100%;
    margin: 0;
    --color-text: rgb(57, 57, 57);
    --color-text-hover: #000;
    --color-text-menu: #000;
    --color-text-frame: #817f7f;
    --color-bg: #ffffff;
    --color-bg-menu: #e0e0e0;
    --color-link: #fff;
    --color-link-hover: #fff;
    --color-link-hover-bg: #000;
    --color-link-menu: rgb(78, 78, 78);
    --border-radius: 2rem;
    --menu-padding: 1rem;
    --padding-smail: 0.625rem;
    --color-text-title: #ee8233
    --font-size-heading: 2.9rem;
    --font-size-large: 2rem;
    --font-size-medium: 1.75rem;
    --font-size-link: 1.5rem;
    --font-size-title: 1.375rem;
    --font-size-text: 1.125;
    --font-size-smail: 1rem;
    color: var(--color-text);
    background-color: var(--color-bg);
    font-family: 'Cormorant Garamond', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

body #cdawrap {
    margin-left: auto;
}

/* Page Loader */
.js .loading::before,
.js .loading::after {
    content: '';
    position: fixed;
    z-index: 1000;
}

.js .loading::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-bg);
}

.js .loading::after {
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin: -30px 0 0 -30px;
    border-radius: 50%;
    opacity: 0.4;
    background: var(--color-link);
    animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
    to {
        opacity: 1;
        transform: scale3d(0.5, 0.5, 1);
    }
}

#arrow {
    
    width: 10px;
    height: 10px;
    border-top: 1px solid var(--color-text) !important;
    border-right: 1px solid var(--color-text) !important;
    transform: rotate(45deg);
    display: inline-block;
    transition: 1s;
}

a {
    text-decoration: none;
    color: var(--color-link);
    outline: none;
}

a:hover {
    color: var(--color-link-hover);
    outline: none;
}

a:focus {
    outline: none;
    background: lightgrey;
}

a:focus:not(:focus-visible) {
    background: transparent;
}

a:focus-visible {
    outline: 2px solid red;
    background: transparent;
    outline-offset: -2px;
}
#lineLink {
    color: rgb(0, 0, 0);
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    display: inline-block;
    cursor: pointer;
    img {
        margin-right: 20px;
        position: relative;
    }
}

#lineLink:hover,
#lineLink:focus {
    color: rgb(118, 118, 118);
}

#lineLink::before {
    content: '';
    height: 1px;
    width: 100%;
    background: currentColor;
    position: absolute;
    top: 92%;
    transition: transform 0.3s;
    transform-origin: 0% 50%;
    transform: scaleX(0);
}

#lineLink:hover::before {
    transform: scaleX(1);
    transform-origin: 100% 50%;
}

#home {


}

#Input {
    position: relative;
    width: 100%;
    max-width: 300px;
    border-radius: 3px;
    overflow: hidden;
    #Label {
        position: absolute;
        top: 0px;
        left: 12px;
        width: 500px;
        font-size: 22px;
        color: rgba($dark, 0.5);
        font-weight: 500;
        transform-origin: 0 0;
        transform: translate3d(0, 0, 0);
        transition: all 0.2s ease;
        pointer-events: none;
    }
    #FocusBg {
        position: absolute;
        top: 5px;
        left: 0;
        width: 100%;
        height: 100%;
        margin-left: 10px;
        z-index: -1;
        transform: scaleX(0);
        transform-origin: left;
    }
    input {
        -webkit-appearance: none;
        appearance: none;
        width: 100%;
        border: 0;

        padding: 16px 5px 0 15px;
        height: 50px;
        font-size: 22px;
        font-weight: 300;
        background: rgba($dark, 0.02);
        box-shadow: inset 0 -1px 0 rgba($dark, 0.3);
        color: $dark;
        transition: all 0.15s ease;

        &:hover {
            background: rgba($dark, 0.04);
            box-shadow: inset 0 -1px 0 rgba($dark, 0.5);
        }
        &:not(:placeholder-shown) {
            ~ #Label {
                color: rgba($dark, 0.5);
                transform: translate3d(0, -20px, 0) scale(0.75);
            }
        }
        &:focus {
            background: rgba($dark, 0.05);
            outline: none;
            box-shadow: inset 0 -2px 0 $primary;
            ~ #Label {
                color: $primary;
                transform: translate3d(0, -20px, 0) scale(0.75);
                ~ #FocusBg {
                    transform: scaleX(1);
                    transition: all 0.1s ease;
                }
            }
        }
    }
}


@media screen and (min-width: 55.5em) {
    body {
        --menu-padding: 2rem;
    }
}
