@import './vars';

.product {
    margin: 0rem auto;
    padding: 0rem 3rem;
    padding-bottom: 5.625rem;
    @media (max-width: $breakpoint1366) {
        margin: 1rem auto;
        padding: 2rem 2rem;
        padding-bottom: 2.625rem;
    }
    @media (max-width: $breakpoint992) {
        margin: 1rem auto;
        padding: 1rem 1rem;
        padding-bottom: 2.625rem;
    }
    @media (max-width: $breakpoint768) {
        margin: 1rem auto;
        padding: 0.8rem 0.8rem;
        padding-bottom: 1.625rem;
    }
    &Pages {
        height: 100vh;
        display: flex;
        width: 100%;
        position: relative;
        align-items: center;
    }
    &LeftItems {
        width: 50%;
        display: flex;
        align-items: start;
    }

    &Item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    &Image1 {
        width: 100%;

        img {
            width: 100%;
            height: 800px;
            object-fit: contain;
        }
        @media (max-width: $breakpoint1366) {
            max-width: 400px;
            width: 100%;
            height: 400px;
            img {
                max-width: 500px;
                height: 400px;
                width: 100%;
            }
        }
    }
    &RigthItems {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &Size {
        display: flex;
        gap: 30px;
    }
    &Select {
        display: flex;
    }
    &Btn {
        height: 60px;
        font-size: 18px;
        display: flex;
        align-items: center;
        font-size: 26px;
        font-family: $font-company;
    }
    &OtherImage {
        display: flex;
    }
    &ModelsImage,
    &MoreImages {
        position: relative;
        width: 50%;
        align-self: center;
        height: 900px;
        flex-wrap: wrap;
        margin-left: 10px;
        object-fit: content;
        img {
            position: relative;
            border-radius: 10px;
        }
    }

    &InfoText {
    }
    &MoreInfo {
        margin: 120px 0;
    }
    &InfoImage {
        margin: 120px 0;
        display: flex;
    }
    &SizeBloks {
        display: flex;
        align-items: center;
    }
    &NameColor {
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 20px;
        margin-top: 10px;
    }
    &Colors {
        padding-top: 20px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        p {
            margin-top: 10px;
        }
    }
    &ColorItem {
        display: flex;

        span {
            display: flex;
            cursor: pointer;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            margin-left: 10px !important;
            border: 0.1px solid rgb(167, 167, 167);
            &:first-child {
                margin: 0;
            }
        }
    }
}
