.container {
    width: 100%;
    display: grid;
    padding: 60px 0;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr;
    gap: 1em 1em;
    grid-template-areas: '. . .';

    .items {
        cursor: pointer;
        color: var(--color-text);
    }
    .imgBlock {
        position: relative;
        img {
            object-fit: cover;
        }
    }
    .image1 {
        height: 500px;

        img {
        }
    }
    .image2 {
        position: absolute;
        top: 20px;
        right: 30px;
        z-index: 2;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
            color: var(--color-text);
        }
    }
    .block {
        display: flex;
        align-items: center;
        padding: 10px 0;
    }
    .leftBlock {
        width: 50%;
        margin: 0 16px;
        div:not(:first-child) {
            margin-top: 10px;
        }
    }
    .title {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
    }
    .nameColor {
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
    }
    .color {
        display: flex;
        span {
            cursor: pointer;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            margin-left: 10px;
            &:first-child {
                margin: 0;
            }
        }
    }
    .rightBlock {
        width: 50%;
        margin: 10px 16px;
        text-align: right;
        div:last-child {
            display: flex;
            justify-content: flex-end;
        }
    }
    .price {
        font-family: 'Great Vibes';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
    }
    .reviewBlock {
        margin-top: 10px;
    }
    .ratingReview {
    }
    .review {
    }

    .product:hover .frontImage {
        transform: scale(1.05);
        opacity: 0;
    }

    .product:hover .backImage {
        transform: scale(1.05);
        z-index: 0;
        opacity: 1;
    }
}
