@import '../../../styles/vars';

.video {
    width: 100%;
    height: 200vh;
    overflow: hidden;
    position: sticky;
    top: 0;
    max-width: auto;
    height: screen;
    opacity: 1;
    @media (max-width: $breakpoint992) {
        height: 120vh;
    }
    @media (max-width: $breakpoint768) {
        height: 70vh;
    }
    @media (max-width: $breakpoint480) {
        height: 40vh;
    }
    &Plane {
        width: 100vw;
        height: 100vh;
        position: relative;
        z-index: 2;
        @media (max-width: $breakpoint992) {
            height: 70vh;
        }
        @media (max-width: $breakpoint768) {
            height: 40vh;
        }
        @media (max-width: $breakpoint480) {
            height: 40vh;
        }
        video {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            -o-object-fit: cover;
            object-fit: cover;
            z-index: 2;
            pointer-events: none;
        }
    }

    &Frame {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        z-index: 6;
        position: absolute;
        width: 100%;
        height: 100vh;
        @media (max-width: $breakpoint992) {
            height: 70vh;
        }
        @media (max-width: $breakpoint768) {
            height: 40vh;
        }
        @media (max-width: $breakpoint480) {
            height: 40vh;
        }
    }

    &Content {
        text-align: center;
    }
    &Title {
        margin: 0;
        font-size: 8vw;
        font-weight: 300;
        font-family: $font-company;
        color: $linkColor;
        position: relative;
        text-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
    }
}
