.content {
    width: 100%;
    height: 200vh;
    overflow: hidden;
    position: sticky;
    top: 0;
    max-width: auto;
    height: screen;
}

.video-started .frame__content-text,
.video-started .frame__switch {
    opacity: 1;
}

.video {
    pointer-events: none;
}

.plane {
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 2;
}

.plane video {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: 2;
}

.frame {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 6;
    position: absolute;

    width: 100%;
    height: 100vh;
}

.frameContent {
    text-align: center;
}
.frameContentTitle {
    margin: 0;

    font-size: 8vw;
    font-weight: 300;
    font-family: Fasthand;
    color: #fff;
    position: relative;
    text-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}

.frameContentText {
    display: block;
    margin-top: -50px;
    font-size: 26px;
    text-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #fff;
}
