@import '../../../styles/vars';

.box {
    padding: 3.75rem 0;
    &Pages {
        display: flex;
        align-items: center;
    }
    &LeftContent {
        width: 50%;
    }
    &Images {
        overflow: hidden;
        max-width: 600px;
        position: relative;
        height: 700px;
        width: 100%;
        img {
            object-fit: cover;
        }
    }
    &RightContent {
        width: 50%;
        text-align: center;
        div {
            padding: 10px 0;
        }
        a {
            color: $link-menu;
            font-size: $title;
        }
    }
    &Title {
        font-family: $font-company;
        font-style: normal;
        font-weight: 400;
        font-size: 4rem;
        padding: 0;
        margin: 0;
        text-align: center;
        letter-spacing: 0.325em;
        text-transform: uppercase;
        color: #000000;
    }
}
