.container {
    background: #e8ebeb;
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
    .page {
        padding: 0 3rem;
        display: flex;
    }
    .leftBlock {
        margin-top: 40px;
        width: 50%;
    }
    .title {
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 58px;
    }
    .heading {
        font-weight: 500;
        font-size: var(--font-text-medium);
        line-height: 29px;
        padding: 0;
        margin-top: 40px;
    }
    .text {
        font-weight: 300;
        margin-top: -10px;
        font-size: var(--font-size-title);
        line-height: 22px;
    }
    .moreLink {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 320px;
        height: 80px;
        border: 1px solid #000000;
        border-radius: 30px;
        margin-top: 60px;
        color: #000000;
        &:hover {
            color: var(--color-bg);
            background: var(--color-link-menu);
        }
    }

    .imageBlock {
        width: 50%;
        display: flex;
        justify-content: flex-end;
    }
}
