@import '../../../styles/vars';

.main {
    max-width: 100%;
    position: sticky;
    min-height: screen;
    z-index: 100;
    display: grid;
    height: auto;
    position: sticky;
    top: 0;
    max-width: auto;
}

.menu {
    position: absolute;
    top: 1rem;
    left: 1rem;
    right: 1rem;
    bottom: 1rem;
    z-index: 99;
    color: #000;
    display: grid;
    grid-template-rows: 3rem 1fr;
    grid-template-areas: 'top ' 'content';
    pointer-events: none;
    @media (max-width: $breakpoint768) {
        top: 0.5rem;
        left: 0.5rem;
        right: 0.5rem;
        bottom: 0.5rem;
        grid-template-rows: 2.5rem 1fr;
    }
    @media (max-width: $breakpoint480) {
        top: 0.8rem;
        left: 0.2rem;
        right: 0.2rem;
        bottom: 0.2rem;
        grid-template-rows: 2rem 1fr;
    }
    &.menuOpen {
        pointer-events: auto;
    }
    &Top {
        pointer-events: auto;
        z-index: 100;
        padding: 0 var(--menu-padding);
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: rgb(228, 228, 228);
        border-radius: var(--border-radius);
    }

    &Title {
        width: 60%;
        position: relative;
        display: flex;
        justify-content: center;
        @media (max-width: $breakpoint480) {
            width: 80%;
        }
    }
    &OpenTitleMenu {
        @media (max-width: $breakpoint768) {
            display: none;
            img {
                display: none;
            }
            p {
                display: none;
            }
        }
    }
    &Burger {
        img {
            display: none;
        }

        @media (max-width: $breakpoint768) {
            img {
                display: block;
            }
        }
    }
    &TitleLink {
        font-family: Fasthand;
        font-style: normal;
        font-weight: 400;
        font-size: $large;
        padding: 0;
        text-decoration: none;
        display: flex;
        align-items: center;
        color: var(--color-text-menu);
        &:hover {
            color: var(--color-text-frame);
        }
        @media (max-width: $breakpoint992) {
            font-size: $medium;
        }
        @media (max-width: $breakpoint768) {
            font-size: $title;
        }
        @media (max-width: $breakpoint480) {
            font-size: $text;
        }
    }

    &Side {
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        ul {
            display: flex;
            align-items: center;
        }
        li {
            display: flex;
            align-items: center;
            padding-left: 20px;
            list-style: none;
            img {
                cursor: pointer;
                display: flex;
                align-items: center;
            }
            @media (max-width: $breakpoint992) {
                img {
                    width: 20px;
                }
                padding-left: 15px;
            }
            @media (max-width: $breakpoint768) {
                img {
                    width: 20px;
                    height: 20px;
                }
                padding-left: 10px;
            }
            @media (max-width: $breakpoint480) {
                display: none;
                img {
                    width: 16px;
                    height: 16px;
                }
                padding-left: 10px;
            }
        }
    }

    &ContentWrap {
        position: relative;
        grid-area: content;
        overflow: hidden;
        height: 100vh;
        margin-top: -1.35rem;
    }

    &Content {
        overflow: hidden;

        transform: translateY(-100%);
        padding: 0 var(--menu-padding);
        height: 90%;
        display: flex;
        background: rgb(228, 228, 228);
        border-radius: 0 0 var(--border-radius) var(--border-radius);
        z-index: 1;

        padding-bottom: 1rem;
        will-change: transform;
    }

    &NavTop {
        overflow: hidden;
        width: 20%;
        display: flex;
        align-items: center;
        span,
        div {
            display: flex;
            align-items: center;
        }
        @media (max-width: $breakpoint768) {
        }
        @media (max-width: $breakpoint480) {
            width: 20% !important;
        }
    }

    &NavTop a {
        margin: 0 1rem;
    }

    &NavContent {
        grid-area: links;
        display: flex;
        flex-wrap: wrap;
        align-self: start;
        margin-top: 5.5vh;
        height: 100%;
        width: 99%;
    }

    &Back {
        position: relative;
        grid-area: back;
        height: 90px;
        align-self: start;
        margin-top: calc(5.5vh + 2rem);
    }

    &Back svg {
        display: block;
        fill: #000;
        height: 100%;
        max-height: 201px;
        transition: transform 0.3s;
    }

    &Back:hover svg,
    &Back:focus svg {
        transform: translateY(-10px);
    }
}

.lineLink {
    color: $link-menu;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    display: inline-block;
    cursor: pointer;
    img {
        margin-right: 5px;
        position: relative;
    }
}

.lineLink:hover,
.lineLink:focus {
    color: var(--color-link-menu);
}

.lineLink::before {
    content: '';
    height: 1px;
    width: 100%;
    background: currentColor;
    position: absolute;
    top: 92%;
    transition: transform 0.3s;
    transform-origin: 0% 50%;
    transform: scaleX(0);
}

.lineLink:hover::before {
    transform: scaleX(1);
    transform-origin: 100% 50%;
}

.unbutton {
    background: none;
    border: 0;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    width: 1%;
}

.unbutton:focus {
    outline: none;
}

@media screen and (min-width: 55.5em) {
    .menu {
        top: 2rem;
        left: 3rem;
        right: 3rem;
        bottom: 2rem;
    }
    .menuTop {
        grid-template-columns: 5rem 10% minmax(200px, 417px) 10% 5rem;
        grid-template-areas: 'title ... nav ... search';
    }
    .menuContent {
        grid-template-rows: 1fr 10vh;
        grid-template-columns: 5rem 10% minmax(200px, 417px) 10% 5rem;
        grid-template-areas:
            '... ... links back ...'
            'tagline tagline social social social';
    }
    .menuBack {
        height: 200px;
        margin-top: calc(5.5vh + 1.5rem);
    }
}
