.authPages {
    font-family: 'Poiret One', cursive;
    font-family: 'Old Standard TT', serif;
}

.authContent {
}
.authTitle {
    p {
        font-size: 28px;
    }
}
.authText {
}

.uthBtnBlock {
    display: block;
    font-size: 22px;
    a {
        margin-top: 20px;
        display: block;
        background: #000000;
        color: #ffffff;
        padding: 20px 70px;
        border-radius: 30px;
        &:last-child {
            background: #ffffff;
            color: #000000;
            border: none;
        }
    }
}
.authOtherLogin {
}

.authLinkLogin {
}
