@import '../../../styles/vars';

.heading {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 300;
    font-size: $heading;
    text-align: center;
    color: #000000;

    // text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    .text {
        font-style: normal;
        font-weight: 300;
        font-size: $link;
        color: #000000;
        display: block;
        // text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        @media (max-width: $breakpoint1366) {
            font-size: $text;
        }
        @media (max-width: $breakpoint768) {
            font-size: $smail;
        }
    }
    @media (max-width: $breakpoint1366) {
        font-size: $large;
    }
    @media (max-width: $breakpoint768) {
        font-size: $medium;
    }
}
